.signup {
  width: 255px;
  height: 430px;

  overflow: visible;
  margin: auto;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  animation: modalbox-reverse 1080ms linear both;

  .form-group {
    margin-bottom: .5em;
  }

  .signup__links {
    margin-top: 1em;
    margin-bottom: 2em;

    a {
      font-weight: 300;
      margin: 0 .5em;
      text-decoration: underline;
    }
  }

  .signup__bealeet {
    a {
      font-weight: 300;
      text-decoration: underline;
    }
  }
}

.forgot-password {
  width: 255px;
  height: 430px;

  overflow: visible;
  margin: auto;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  animation: modalbox-reverse 1080ms linear both;

  .form-group {
    margin-bottom: .5em;
  }

  .forgot-password__links {
    margin-top: 1em;
    margin-bottom: 2em;

    a {
      font-weight: 300;
      margin: 0 .5em;
      text-decoration: underline;
    }
  }

  .forgot-password__bealeet {
    a {
      font-weight: 300;
      text-decoration: underline;
    }
  }
}

.reset-password {
  width: 255px;
  height: 430px;

  overflow: visible;
  margin: auto;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  animation: modalbox-reverse 1080ms linear both;

  .form-group {
    margin-bottom: .5em;
  }

  .reset-password__links {
    margin-top: 1em;
    margin-bottom: 2em;

    a {
      font-weight: 300;
      margin: 0 .5em;
      text-decoration: underline;
    }
  }

  .reset-password__bealeet {
    a {
      font-weight: 300;
      text-decoration: underline;
    }
  }
}

.login {
  width: 255px;
  height: 430px;

  overflow: visible;
  margin: auto;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  animation: modalbox-reverse 1080ms linear both;

  .login__user {
    margin-bottom: 0;

    .form-control {
      border-bottom: none;

      border-radius: @border-radius-base @border-radius-base 0 0;
    }
  }

  .login__password {
    .form-control {
      border-radius: 0 0 @border-radius-base @border-radius-base
    }
  }


  .login__links {
    margin-bottom: 2em;

    a {
      font-weight: 300;
      margin: 0 .5em;
      text-decoration: underline;
    }
  }

  .login__bealeet {
    a {
      font-weight: 300;
      text-decoration: underline;
    }
  }
}