.player {
  background: @lightest;
  margin-bottom: 30px;
  position: relative;

  .player__header {
    .row;

    background: @light;
    margin: 0;
    padding: 10px 20px;

    img {
      border-radius: 50%;
    }

    h3 {
      color: @brand-primary;
      font-size: 1em;
      font-weight: 300;

      margin-left: 12px;
      margin-top: 12px;
    }
  }

  .player__content {
    color: @dark-light;
    padding: 10px 20px;

    .player__content__game {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 1.5em;
      text-transform: uppercase;
    }

    .player__content__stats {
      .row;
      font-weight: 300;
      margin: 0 0 45px;

      li {
        margin: .875em 0;
      }
    }
  }

  .player__buttons {
    bottom: 0;
    position: absolute;
    width: 100%;

    .button {
      border-bottom: none;
    }

    .player__buttons__follow {
      .button {
        border-left: none;
      }
    }

    .player__buttons__profile {
      .button {
        border-right: none;
      }
    }
  }
}