div.navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;

  width: 215px;
  min-height: 100%;
  max-height: 100%;
  border: 0;

  margin: 0;

  background-color: @dark;
  color: @dark-lighter;

  text-align: center;

  border-radius: 0;

  a.navbar-brand {
    float: left;

    margin: 0;
    padding: 15px 0;
    height: auto;
    width: 100%;

    text-align: center;

    background: @lightest;

    img {
      float: none;
    }
  }

  div.navbar-nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      width: 215px;

      li {

        &.divider {
          height: 1px;
          background: @darker;
          margin: 15px 30px;
        }

        .navbar__unread {
          float: right;
          background: @brand-primary;
          color: @lightest;

          height: 26px;
          line-height: 26px;
          width: 26px;
          text-align: center;

          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;

          margin-right: 15px;
          font-size: .875em;
        }

        a {
          height: 36px;
          padding: 5px 0 5px 30px;
          margin: 5px 0;

          line-height: 26px;

          display: block;

          color: @dark-lighter;

          text-align: left;

          &:hover {
            text-decoration: none;

            color: @dark;
            background: @lighter;

            padding-left: 25px;
            border-left: 5px solid @brand-primary;
          }

          i {
            font-size: 1.5em;
            line-height: 26px;
            float: left;
            margin-right: 20px;
          }
        }

        &.active {
          a,
          a:hover,
          a:focus {
            text-decoration: none;

            color: @dark;
            background: @lighter;

            padding-left: 25px;
            border-left: 5px solid @brand-primary;
          }
        }
      }
    }
  }

  div.navbar-profile {
    float: left;

    padding: 15px 0 15px 20px;

    width: 215px;

    text-align: center;

    div.navbar-profile-user {
      margin: 0 0 15px;
      text-align: center;

      -ms-word-break: break-all;
      word-break: break-all;

      // Non standard for webkit
      word-break: break-word;

      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      hyphens: auto;

      .navbar-profile-user-gravatar {
        border-radius: 50%;

        margin: 0 auto;
        float: left;
      }

      .navbar-profile-user-meta {
        float: left;
        padding-left: 11px;
      }
    }

    div.navbar-profile-messages {
      a {
        &:hover {
          color: @light;

          text-decoration: none;
        }

        &.notify {
          color: @brand-primary;

          &:hover {
            color: darken(@brand-primary, 10%);
          }
        }

        i {
          display: block;
          font-size: 1.5em;
        }
      }
    }

    > ul {
      > li {
        > a {
          height: 70px;
          padding: 10px 0;

          display: block;

          color: @dark-lighter;

          &:hover {
            text-decoration: none;

            color: @light;
            background: @brand-info;
          }

          i {
            font-size: 2em;

            display: block;
          }
        }

        .dropdown-menu {
          width: 320px;
          border: 1px solid @dark-light;

          background: @dark;
          border-radius: 0;
          padding: 1em;

          .dropdown-header {
            text-align: right;
            border-bottom: 4px solid @dark-light;
            padding: 0;
            padding-bottom: 1em;

            h4.dropdown-header-username {
              float: right;
              margin: 0 12px 0 0;

              color: @dark-lighter;
              line-height: 40px;
            }

            img.dropdown-header-gravatar {
              border-radius: 50%;
              float: right;
            }
          }

          .dropdown-body {

            ul {
              margin: 1em 0;

              li {
                text-align: right;

                a {
                  display: block;
                  padding: 0.25em 0;

                  color: @dark-lighter;
                  font-size: 1.25em;
                  font-weight: bold;
                }
              }
            }

          }

          .dropdown-footer {
            padding: 0;
            padding-top: 1em;

            border-top: 4px solid @dark-light;

            text-align: right;

            ul {
              float: right;

              li {
                a {
                  color: @dark-lighter;

                  i {
                    font-size: 2em;
                  }
                }
              }
            }
          }

          a.dropdown-close {
            color: @brand-danger;
            i {
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}