.user-profile-header {
  width: 100%;
  height: 207px;

  background: @lightest;

  margin: 0;

  &.user-profile-header-cs-go {
    background: url('../images/profile-header-cs-go.jpg') no-repeat;
  }

  &.user-profile-header-dota-2 {
    background: url('../images/profile-header-dota.jpg') no-repeat;
  }
}
.user-profile-subheader {
  margin-top: 0;

  .user-profile-subheader-primary-game {
    font-weight: 400;
    font-family: @font-headings;
    text-transform: uppercase;
    font-size: 1.725em;
    line-height: 45px;
  }

  .user-profile-subheader-games-primary {
    margin-right: 15px;

    label {
      font-weight: 400;
      font-family: @font-headings;
      text-transform: uppercase;
      margin-right: 5px;
      margin-bottom: 0;

      position: relative;
      top: 3px;
    }
  }

  .user-profile-subheader-games-add {
    position: relative;

    &.open {
      .user-profile-subheader-games-add-button-open {
        display: none;
      }
      .user-profile-subheader-games-add-button-close {
        display: block;
      }
      .dropdown {
        opacity: 1;

        animation: dropdown 0.8s linear forwards;
      }
    }
    .user-profile-subheader-games-add-button-close {
      display: none;
    }
    .dropdown {
      .modal-box;
      z-index: 1;

      opacity: 0;

      margin: 0;
      width: 400px;

      position: absolute;
      top: 34px;
    }
  }

  .user-profile-subheader-searching {
    h3.user-profile-subheader-searching-title {
      color: @brand-primary;
      font-family: @font-headings;
      font-weight: 300;
      font-size: 1.125em;
      line-height: 47px;
      margin: 0 0 0 12px;
    }

    form {
      height: 47px;
    }

    input.user-profile-subheader-searching-switcher-item-checkbox {
      display: none;

      + label {
        background: url('../images/checkbox-checked.svg');
        border: none;
        border-radius: 4px;
        height: 47px;
        width: 47px;

        margin: 0;
      }

      &:checked + label {
        background: @lightest;
        border: 1px solid @brand-primary;
      }
    }
  }
}

.user-profile-box {

  .user-profile-box-header {
    margin-bottom: 15px;

    h2 {
      margin: 0;

      color: @blue-grey;

      font-size: 1.125em;
      font-weight: bold;
    }
  }

  .user-profile-box-body {
    color: @dark;

    h3 {
      margin: 0 0 4px;

      font-size: 1em;
      font-family: @font-headings;
      text-transform: uppercase;
    }

    p {
      font-size: 1em;
    }
  }

  &.user-profile-box-overview {

    .user-profile-box-body {
      .user-profile-username {
        color: @brand-info;
        font-size: 2.25em;
        padding: 15px 0;
      }

      table {
        .user-profile-row {
          td {
            padding: 6px 6px 6px 0;
            border: none;
            font-size: 1em;

            &.user-profile-row-header {
              font-weight: 400;
              font-family: @font-headings;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  &.user-profile-box-messages {
    .user-profile-box-body {
      .user-profile-messages-item {
        padding: 11px 0;

        &:nth-child(2n) {
          background: #f6f6f6;
        }

        .user-profile-messages-item-image {
          line-height: 77px;
          margin-left: 15px;

          img {
            border-radius: 50%;
            border: 3px solid @blue-grey;
          }
        }

        .user-profile-messages-item-message {
          padding-top: 10px;

          p {
            margin: 0;
          }
        }

        &.unread {
          .user-profile-messages-item-message {
            font-weight: 700;
          }
        }

        .user-profile-messages-item-button {
          line-height: 77px;
          margin-right: 15px;
        }

        &.unread {
          .user-profile-messages-item-button {
            .btn {
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  &.user-profile-box-skills {
    .user-profile-box-body {
      .user-profile-skills {
        .user-profile-skills-item {
          position: relative;
          float: left;
          background: @lightest;
          padding: 12px;
          margin: 4px 10px 4px 0;
          border: 1px solid @brand-info;
          border-radius: 3px;
          color: @brand-info;

          margin-right: 46px;

          &.plusable {
            margin-right: 92px;
          }

          &:after {
            content: attr(data-amount);

            border-radius: 0 3px 3px;

            padding: 16px 17px 16px;
            right: -40px;
            top: -1px;
            position: absolute;
            font-size: 1em;
            line-height: 1em;

            font-family: @font-family-sans-serif;

            background: @brand-info;
            color: @lightest;
          }

          .btn-testify-skill {
            position: absolute;
            right: -85px;
            z-index: 2;
            border: none;
            top: -1px;
            height: 46px;
            width: 46px;
            text-align: center;
            line-height: 46px;
            padding: 0;
            border-radius: 0 3px 3px 0;
            font-size: 1.125em;
          }
        }
      }
    }

    .user-profile-skills-add {
      position: relative;

      &.open {
        .user-profile-skills-add-button-open {
          display: none;
        }
        .user-profile-skills-add-button-close {
          display: block;
        }
        .dropdown {
          opacity: 1;

          animation: dropdown 0.8s linear forwards;
        }
      }
      .user-profile-skills-add-button-close {
        display: none;
      }
      .dropdown {
        .modal-box;
        z-index: 1;

        opacity: 0;

        margin: 0;
        width: 400px;

        position: absolute;
        top: 34px;
      }
    }
  }

  &.user-profile-box-teamhistory {
    .user-profile-box-body {
      .user-profile-teams-item {
        padding: 11px 0;

        &:nth-child(2n) {
          background: #f6f6f6;
        }

        .user-profile-teams-item-image {
          line-height: 77px;
          margin-left: 15px;

          img {
            border-radius: 50%;
            border: 3px solid @blue-grey;
          }
        }

        .user-profile-teams-item-clan {
          padding-top: 19px;

          p {
            margin: 0;
          }
        }

        .user-profile-teams-item-button {
          line-height: 77px;
          margin-right: 15px;
        }
      }
    }
  }

  &.user-profile-box-reviews {
    .user-profile-box-body {
      .user-profile-reviews-item {
        padding: 11px 0;

        &:nth-child(2n) {
          background: #f6f6f6;
        }

        .user-profile-reviews-item-image {
          line-height: 77px;
          margin-left: 15px;

          img {
            border-radius: 50%;
            border: 3px solid @blue-grey;
          }
        }

        .user-profile-reviews-item-review {
          padding-top: 12px;

          p {
            margin: 0;
          }
        }
      }

      .user-profile-review-form {
        margin: 15px 0;

        label {
          color: @dark;

          font-family: @font-headings;
          font-weight: 400;
          text-transform: uppercase;
        }

        textarea {
          padding: 6px;
          height: 140px;

          color: @dark;

          resize: none;
        }
      }
    }
  }
}