.row-margin {
  margin-bottom: 2em;
}

.form-contro::-webkit-input-placeholder,
::-webkit-input-placeholder{
  color: @dark-lighter
}

.form-control:-moz-placeholder,
:-moz-placeholder {
  color: @dark-lighter
}

.form-control::-moz-placeholder,
::-moz-placeholder {  /* Firefox 19+ */
  color: @dark-lighter
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
  color: @dark-lighter
}