.row-margin {
  margin-bottom: 2em;
}

.form-control::-webkit-input-placeholder {
  color: @dark-lighter;
}

.form-control:-moz-placeholder {
  color: @dark-lighter;
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
  color: @dark-lighter;
}

.form-control:-ms-input-placeholder {
  color: @dark-lighter;
}