@light:              #fff;
@dark-light:            #202231;
@light-dark:            #f0f0f0;
@light-darker:          #e5e5e5;
@light-darkest:         #dddddd;

@blue-grey:             #575e7a;

@dark-light:            #90A4AE;
@dark-lighter:          #5C5C59;
@lightest:              #fff;
@lighter:               #fafafa;
@light:                 #F4F4F4;
@darkest:               #15150F;
@darker:                #2a2a28;
@dark:                  #15150F;

@color-facebook:        #4A90E2;